$online: #33cc66;
$offline: #993333;

html, body {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: Arial;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 5%;
  box-sizing: border-box;
  background-color: $online;
  transition: all 0.2s ease;
  &.is-offline {
    background-color: $offline;
  }
  &.is-offline {
    .show-offline {
      display: initial;
    }
    .show-online {
      display: none;
    }
  }
}

.show-offline {
  display: none;
}

.show-online {
  display: initial;
}

main {
  flex: 1 0 auto;
}

nav a {
  color: white;
}
